{%- if site.max_url %}
<section class="band band--white" aria-labelledby="call-title">
  <div class="wrap">
    <div class="callblock">
      <div class="callblock__l">
        <b id="call-title">Проще написать? Мы в MAX</b>
        <p>Опишите задачу в мессенджере: подскажем цену под ваш объём и район, поможем выбрать материал. Работаем {{ site.hours|lower }}, {{ site.callback_promise }}.</p>
      </div>
      <div class="callblock__act">
        <a class="callblock__phone" href="{{ site.max_url }}" target="_blank" rel="nofollow noopener">Написать в MAX</a>
        <div class="callblock__msgs">
          <a class="callblock__msg callblock__msg--max" href="mailto:{{ site.contact_email }}">Или на почту</a>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endif %}
