<footer class="ftr">
  <div class="ftr__in">
    <div>
      {%- if site.max_url %}
      <a class="ftr__phone" href="{{ site.max_url }}" target="_blank" rel="nofollow noopener">Написать в MAX</a>
      {%- if site.whatsapp_url %}
      <a class="ftr__wa" href="{{ site.whatsapp_url }}" target="_blank" rel="nofollow noopener">{% with size=20 %}{% include "partials/icon_wa.html" %}{% endwith %}WhatsApp</a>
      {%- endif %}
      {%- endif %}
      <a class="ftr__mail" href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
      <p class="ftr__hours">{{ site.hours }}, {{ site.callback_promise }}.</p>
      {%- if site.legal_status %}<p class="ftr__status">{{ site.legal_status }}</p>{%- endif %}
    </div>
    <ul class="ftr__links">
      {%- for l in footer_links %}
      <li><a href="{{ l.url }}">{{ l.text }}</a></li>
      {%- endfor %}
      <li><a href="{{ site.privacy_url }}">Обработка данных</a></li>
    </ul>
    <p class="ftr__legal">Доставка чернозёма, перегноя и навоза по {{ site.region_po }}. Цены рассчитываются под объём и район, точную стоимость называем в ответ на заявку.</p>
  </div>
</footer>
