<section class="mats band band--tint" aria-labelledby="mats-title">
  <div class="wrap">
    <h2 id="mats-title" class="sec-h">Другие материалы с доставкой</h2>
    <p class="mats__lede">Возим не только грунт. Нужны нерудные материалы под стройку, отсыпку или дренаж, посчитаем в одной заявке.</p>
    <div class="mats__grid">
      <div class="mats__card"><b>Щебень</b><span>разных фракций: 5-20, 20-40, 40-70</span><em>от 1600 руб/м³</em></div>
      <div class="mats__card"><b>Песок</b><span>карьерный и речной, под стяжку и подсыпку</span><em>от 700 руб/м³</em></div>
      <div class="mats__card"><b>ПГС и ОПГС</b><span>песчано-гравийная смесь под основание</span><em>от 800 руб/м³</em></div>
      <div class="mats__card"><b>Отсев</b><span>для дорожек, площадок и бетона</span><em>от 900 руб/м³</em></div>
      <div class="mats__card"><b>Скальный грунт, бут</b><span>под отсыпку и укрепление</span><em>цена по запросу</em></div>
      <div class="mats__card"><b>Торф и опилки</b><span>под грядки и мульчирование</span><em>цена по запросу</em></div>
    </div>
    <p class="mats__note">Цены ориентировочные, зависят от фракции, объёма и района. Точную назовём по заявке.</p>
    <a class="btn btn--call mats__cta" href="#zayavka">Уточнить цену и наличие</a>
  </div>
</section>
